* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111314;
    display: grid;
    place-content: center;
    height: 100vh;
    padding: 5px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}